/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }

  /* Header Styles */

  header h1 {
    margin: 0;
    font-size: 28px;
    padding:5px;
    background-color: aquamarine;
    text-align: center;
  }

  .row{
    margin: auto;
    float:left;
  }
  .row .post img{
    float: left;
    padding-left: 20px;
    display: table;
     zoom: 1;
     position: relative;
     width: 100%;
     max-width: 100%;
     max-height:768px;
     margin:0px auto 0px;
     z-index:90;
     text-align:left;
     font-size: 10px;
     text-shadow: none;
     }



  .row .post{
    padding: 20px;
    margin-bottom: 18;

  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }


footer p {
    margin: 0;
  }
